@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
  # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #ff0Dff;
}

/*---------------------------------------/*
  # OBJECTS
/*---------------------------------------*/
.c-header {
  background-color: black;
  height: 100vh;
}

/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/
.navbar-dark .navbar-nav .nav-link {
  font-weight: 500;
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff0Dff), to(#00d4ff));
  background: linear-gradient(90deg, #ff0Dff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:focus {
  text-decoration: underline;
  color: white;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-banner {
  color: white;
  text-align: center;
  background: url(../img/kryptek_header.jpg) no-repeat center center;
  background-size: cover;
  padding: 247px 0;
}

.c-banner a {
  border: none;
  font-weight: 700;
  color: black;
}

.c-banner a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff0Dff), to(#00d4ff));
  background: linear-gradient(90deg, #ff0Dff 0%, #00d4ff 100%);
}

.c-banner__item {
  margin: 0 auto;
}

.c-concept {
  padding-top: 6rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 993px) {
  .c-concept {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 993px) {
  .c-concept__item img {
    display: none;
  }
}

.c-concept__item h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.c-concept__tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-patreon {
  color: white;
  background-color: black;
  padding-top: 8rem;
  text-align: center;
  position: relative;
}

.c-patreon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-patreon__item--prijs {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-list {
  color: white;
  background-color: black;
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 993px) {
  .c-list {
    padding-bottom: 1rem;
  }
}

.c-list li {
  padding-bottom: 2rem;
}

.c-video {
  background-color: black;
  color: white;
}

.c-video__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 993px) {
  .c-video__item {
    padding-bottom: 1rem;
  }
}

.c-video__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 993px) {
  .c-video__video {
    padding-bottom: 1rem;
  }
}

.c-video__video iframe {
  width: 70vw;
  height: 70vh;
}

.c-over__item {
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-over__tekst p {
  text-align: center;
}

.c-over__carousel {
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.c-over__carousel p {
  text-align: center;
}

.c-carousel {
  width: 50vw;
  height: 50vh;
  margin-bottom: 15rem;
}

.c-contact {
  background-color: black;
  color: white;
}

.c-contact__item {
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact__tekst p {
  text-align: center;
}

/*---------------------------------------/*
  # UTILITIES
/*---------------------------------------*/
